
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, main {
    height: 100%;
    width: 100%;
}

html {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-image: url(assets/fondo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contain {
    margin: auto;
    width: 50%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px;
    background-color: rgba(141, 140, 140, 0.555);
}

h1 {
    text-align: center;
    padding-top: 40px;
    font-size: 50px;
    color: rgb(226, 226, 226);
}

.contenido {
    display: flex;
    flex-direction: column;
}


#ingreso {
    font-weight: 700;
    color: white;
    width: 30%;
    margin: 6% auto;
    padding: 10px;
    height: 40%;
    border-style: none;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    background-color: transparent;
}

.botones {
    height: 100%;
    width: 100%;
    display: flex;
}

button {
    background-color: rgb(188, 204, 221);
    border-radius: 10px;
    width: 20%;
    height: 8vh;
    margin: 30px auto;
    font-size: 20px;
    color: rgb(59, 58, 58);
    transition: 0.5s;
}

button:hover {
    cursor: pointer;
    background-color: rgb(53, 52, 52);
    color: white;
    transition: 0.5s;
}

.pantalla {
    padding: 20px;
    height: 20vh;
    margin: auto;
    text-align: center;
    font-size: 50px;
    background-color: white;
    color: black;
    padding: 25px;
    border-radius: 10px;
    color: white;
    background-color: rgba(141, 140, 140, 0.637);
    color: white;
    font-weight: 700;
}
